.sectional
{
    margin: 25px;
    width: 100%;
    background: #00000000;
    border: 3px solid #00000000;
}
.subsectional
{
    width: 100%;
}
.card
{
    margin: 10px;
    padding: 20px;
    min-width: 20rem;
    background: #00000000;
    border: 3px solid #00000000;
}

