/* https://coolors.co/a093c7-c98891-a8d7c2-d7c69a-87bfcf */

body
{
    background: -webkit-linear-gradient(35deg, #A093C7, #87BFCF, #A8D7C2);    
/*
    --background: #ECF0F1;
    --accent1: #a093c7;
    --accent2: #c98891;
    --accent3: #a8d7c2;
    --accent4: #d7c69a;
    --accent5: #87bfcf;
    --text_color: #000000;
*/
    margin: 0;
    font-family: 'Lato' sans-serif;
    /*background: var(--background);*/
    margin-top: 50px;
}

/* Fundamental Styles */
a
{
    color: var(--text_color);
}
h1
{
    font-family: Tourney, sans-serif;
    background: -webkit-linear-gradient(35deg,  #565297, #565297, #565297);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 7em;
    padding-top: 50px;


}
h2, h3, h4, h5
{
    font-family: 'Saira Extra Condensed', sans-serif;
    color: #495057;
    margin: 20px;
    text-align: center;
    font-size: 2.2rem;

}
h3
{
    font-size: 1.9rem;
}
h4
{
    font-size: 1.3rem;
}
h5
{
    font-size: 1.45rem;
}

header, footer
{
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    border: #4d85bd 1px;
}
footer
{
    background-color: #565297;
    color: white;
}

header p, footer p
{
    padding: 2px;
    color: #495057;
    text-align: center;
}
footer p
{  
    font-family: 'Saira Extra Condensed', sans-serif;
    color: white;
    font-size: 1.1rem;
}

.navbar
{
    background-color: #565297; /*#294C60;*/
    border-bottom: 3px solid #495057;
}

.navbar-nav
{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 1.45rem;
    margin: 5px;
}

.navbar-nav:hover
{
    background-color: #A093C7;
}
.navbar-brand
{
    font-family: Tourney, sans-serif;
    font-size: 1.75rem;
    background: -webkit-linear-gradient(35deg,  #87BFCF, #A6C8E3, #A8D7C2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-link
{
    color: white;
}

.MainSectionItem
{
    width: 100%;
    background: #00000000;
    border: 3px solid #00000000;

}