/* https://coolors.co/a093c7-c98891-a8d7c2-d7c69a-87bfcf */

body
{
    margin: 0;
    font-family: sans-serif;
    background: #ECF0F1    ; /*linear-gradient(0.25turn, #D7C69A, #F0CE78);*/
    margin-top: 50px;
}
a
{
    color: black;
}
p
{
    font-family: 'Croissant One', sans-serif;
}
h1
{
    font-family: Tourney, sans-serif;
    background: -webkit-linear-gradient(35deg, #A093C7, #87BFCF, #A8D7C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 6em;
    margin: 0px;
    padding-top: 12px;
}
h2, h3, h4, h5
{
    font-family: 'Croissant One', sans-serif;
    color: #495057;
    margin: 0px;
    text-align: center;
    font-size: 30px;
}

header, footer
{
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    border: #495057 1px;
    background-color: #D4D8DA;
}

header p, footer p
{
    padding: 2px;
    color: #495057;
    text-align: center;

}

.navbar
{
    background-color: #a8986f;
    border-bottom: 2px solid black;
}
.navbar-nav
{
    margin: 5px;
}
.navbar-brand
{
    font-family: Tourney, sans-serif;
    font-size: 1.5rem;
    background: -webkit-linear-gradient(35deg, #A093C7, #87BFCF, #A8D7C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#MainSection
{
    clear: both;
    display: grid;
    grid-template:  1fr 1fr;
    grid-gap: 15px;
    grid-auto-rows: minmax(100px, auto);
    margin: 20px;
}
.MainSectionItem
{
    border-bottom: 5px solid #495057;
    padding: 10px 0px;
    display: grid;
    border-radius: 5px;
    width: auto;

}