/* https://coolors.co/a093c7-c98891-a8d7c2-d7c69a-87bfcf */

body
{
    margin: 0;
    font-family: sans-serif;
    background: #ECF0F1    ; /*linear-gradient(0.25turn, #D7C69A, #F0CE78);*/
    margin-top: 50px;
}

/* Fundamental Styles */
a
{
    color: black;
}
p
{
    font-family: 'Lato', sans-serif;
}
h1
{
    font-family: Tourney, sans-serif;
    background: -webkit-linear-gradient(35deg, #A093C7, #87BFCF, #A8D7C2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 7em;
    padding-top: 12px;
}
h2, h3, h4, h5
{
    font-family: 'Croissant One', sans-serif;
    color: #495057;
    margin: 0px;
    text-align: center;
    font-size: 2.5em;
}
h3
{
    font-size: 2.2em;
}
h4
{
    font-size: 1.7em;
}
h5
{
    font-size: 1.5em;
}

header, footer
{
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    border: #495057 1px;
    background-color: #D4D8DA;
}
footer
{
    background-color: #3B3561;
    color: white;
}

header p, footer p
{
    padding: 2px;
    color: #495057;
    text-align: center;
}
footer p
{
    color: white;
}

.navbar
{
    background-color: #3B3561; /*#294C60;*/
    border-bottom: 2px solid black;
    color: white;
}
.navbar-nav
{
    margin: 5px;
}
.navbar-brand
{
    font-family: Tourney, sans-serif;
    font-size: 1.5rem;
    background: -webkit-linear-gradient(35deg, #A093C7, #87BFCF, #A8D7C2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-link
{
    color: white;
}

.MainSectionItem
{
    padding: 20px;
    border-radius: 5px;
    width: 100%;
}