.sectional
{
    margin: 25px;
    width: 100%;
    background: #00000000;
    border: 3px solid #00000000;
}
.subsectional
{
    width: 100%;
}
.card
{
    margin: 10px;
    padding: 20px;
    min-width: 20rem;
}

#commandsTray
{
    width: fit-content;
    margin: auto;
    padding: 10px;
}

#ResetCart, #SubmitCart
{
    padding: 7px;
    font-size: 1.10rem;
    background-color: transparent;
    border: 3px solid red;
    border-radius: 5px;
}
#SubmitCart
{
    border-color: var(--accent4);
}
#ResetCart:hover, #SubmitCart:hover
{
    color: white;
    background-color: red;
}
#SubmitCart:hover
{
    text-decoration: none;
    background-color: var(--accent4);
}

.red-emphasis
{
    color: red;
}

.addToCartBttn
{
    max-width: 20rem;
    align-self: center;
}

/* This is the style that the JS will apply to the card when the item is in the cart.*/
.OrderSelect
{
    border: 3px var(--accent4) solid;
}