.OrderOnlineCard
{
    margin: 10px;
    padding: 20px;
    min-width: 20rem;

    background: #00000010;
    border: transparent;

}
.OrderOnlineCard:hover
{
    background: #00000020;
}
.OrderOnlineCard img
{
    border: black solid 3px;
    border-radius: 10px;
}
.OrderOnlineCard input[type="button"]
{
    border: var(--accent4) 4px solid;
    border-radius: 5px;
    padding: 7px;
    font-size: 1.10rem;

    color: white;
    background-color: var(--accent5);
}
.OrderOnlineCard input[type="button"]:hover
{
    background: var(--accent4);
    color: white;
}