#SocialCharms
{
    float: right;
    height: auto;
    text-align: none;
    margin: 3px;
}

#SocialMediaGrid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    max-width: 18rem;
    align-self: center;
    margin: auto;
}
.SocialGrid-2x2
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: auto;
}

.socialDescCard
{
    display: block;
    margin: 10px;
    padding: 10px;
    background-color: #00000007;
    border-radius: 10px;
    border: 2px var(--accent3) solid;
}
.SocialMediaGroup
{
    margin: 0px;
    padding: 0px;
    background: transparent;
    text-align: center;
    min-width: 12rem;
    border: 0px transparent solid;
}
.SocialMediaGroup h4
{
    font-size: 1.75rem;
}
.SMGroupLogo
{
    width: 4rem;
    align-self: center;
    justify-self: center;
    padding-bottom: 3px;
    border-radius: 10px;
}
.SocialMediaGroup a
{
    border-bottom: 1px solid var(--accent4);
}
.SocialMediaGroup a:hover
{
    color: var(--accent4);
}
.socialLogo
{
    height: 25px;
    align-self: center;
}